<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stickman service</title>
    <link rel="stylesheet" href="/css/mainError.css">
  </head>
  <body>
    <div class="form">
      <p> <b>{{errorMessage}}</b> </p>
    </div>

  </body>
</html>
