<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stickman service</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="form">
      <h1> <b>{{successMessage}}</b> </h1>
    </div>

  </body>
</html>
